section.aboutUs-content{
    font-family:'Segoe UI', Verdana, sans-serif;
    color:#B97836;
    padding:60px;

}

.aboutUs-container{
    max-width: 1100px;
    margin:auto;
}

.whoarewe{
    padding-bottom: 50px;
    text-align: justify;
    line-height:1.6em;
}

.whoarewe h2{
    color: white;
    padding-bottom: 30px;
    font-size: 35px;
}

.whoarewe a{
    color:#B97836;
}

.aboutUs-bottom{
    width:100%; 
    display:flex;
}

.aboutUs-right{
    display:flex;
    margin-right:40px;
}

.aboutUs-left{
    width:50%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 20px 20px 20px;
}

.aboutUs-scroll{
    overflow-y:scroll;
    max-height:250px;
    background-color: rgba(33, 30, 30, 0.6);
    padding-top: 20px;
    padding-left:20px;
    border-radius:20px;
    scroll-snap-type: y mandatory;
}

.aboutUs-scroll>div{
    scroll-snap-align: start;
    margin-top: 5px;
    padding-top: 7px;
}

.aboutUs-scroll::-webkit-scrollbar {
    width: 12px;      
  }
  
.aboutUs-scroll::-webkit-scrollbar-track {
    background: #1A1A1A;  
    border-radius: 20px;  
  }
  
.aboutUs-scroll::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;   
    border-radius: 20px;       
  } 

.aboutUs-left h3{
    color:white;
    font-size:24px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.aboutUs-left h4{
    color:white;
    font-size:17px;
    padding-bottom:7px;
}

.aboutUs-left p{
line-height:1.5em;
}

.aboutUs-address,
.aboutUs-businessHour{
    margin: 20px 0;
    padding-bottom:10px;
}

 #googleMap{
     height:350px;
     min-width:50%;
     padding-right:20px;
     border-radius: 20px;  
 }

