@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    background-color: #242628;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: #ffffff;
}

/* ###################### Checkout Navigation Style ###################### */

.checkout-bar {
    background-color: #B97836;
    height: 65px;
}

nav.checkout-bar li {
    max-width: 1200px;
}

nav.checkout-bar h1 {
    display: inline;
    font-size: 2.5em;
    vertical-align: middle;
    font-family: Verdana, sans-serif;
}

#nav-logo {
    display: inline;
    margin: 8px 10px;
    vertical-align: middle;
    overflow: hidden;
}

/* ###################### Grid ###################### */

.container {
    max-width: 1140px;
    margin: 0 auto 2.5em;
}

.content-wrapper {
    display: grid;
    max-width: 1140px;
    align-self: center;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2em;
    margin: 3em 1em;
}

.content-wrapper>div {
    width: fit-content;
}

.box1, .box2 {
    text-align: center;
    background-color: #1A1A1A;
    border: 2px #B97836 solid;
    border-radius: 10px;
    height: fit-content;
}

.order-info-box {
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px solid #8b8888;
    padding: 1.8em;
    /* height: fit-content; */
}

.box1 {
    grid-column: 1/5;
    /* width: fit-content; */
}

.box1 p {
    font-weight: bold;
    font-size: 0.8em;
    color: #8b8888;
    padding: 12px;
    vertical-align: middle;
}

.box2 {
    grid-column: 5/7;
    grid-row: 1/4;
    /* width: 100%; */
    /* width: fit-content; */
    padding: 1em;
}

.table-container table {
    margin: 20px auto;
}

.table-container th {
    color: #8b8888;
    font-size: 00.8em;
    padding: 0px 20px 10px;
}

.box2 table td img {
    width: 35px;
    float: left;
    padding: 10px 0px;
    border-radius: 25%;
}

.box2 table td h6 {
    font-size: 0.8em;
    float: left;
    padding-left: 15px;
}

.price-total {
    font-size: 1.5em;
}

.payment-amount {
    background-color: #242628;
    border-radius: 5px;
    padding: 10px;
}

.payment-amount p {
    display: block;
    text-align: left;
    padding: 5px;
}

.payment-data {
    float: right;
}

.total-container {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid white;
}

.total-left {
    width: 70%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.total-right {
    width: 70%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.total, .data-num, .total-total {
    padding: 10px;
}

.data-total, .total-total {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0;
}

.box3 {
    grid-column: 1/3;
    grid-row: 2/5;
}

.checkout-element {
    padding-top: 10px;
}

.checkout-element label {
    font-size: 0.8em;
    font-weight: 600;
}

.checkout-element input {
    border-radius: 6px;
    border: 1px #B97836 solid;
    /* width: clamp(30%,280px,70%); */
    width: 280px;
    height: 30px;
    background-color: #1A1A1A;
    margin: 10px 0px;
    padding: 10px;
    font-size: 0.9em;
    color: #ffffff;
    text-align: unset;
}

.checkout-element input::placeholder {
    color: #8b8888;
    padding-bottom: 50px;
}

#order-notes {
    height: 120px;
    padding-bottom: 100px;
}

.required-field::after {
    content: "*";
    color: red;
}

.box4 {
    grid-column: 3/5;
    grid-row: 2/4;
    margin: 0px 10px;
}

.payment-type {
    padding-top: 15px;
}

div.payment-type:nth-child(3) {
    padding-top: 0px;
}

.payment-type label {
    padding: 8px;
    cursor: pointer;
}

.box5 {
    grid-row: 4/5;
    grid-column: 5/7;
    /* text-align: center; */
    /* align-self: center; */
    margin: 0 auto;
}

.box5 input {
    font-size: 1.1em;
    font-family: 'Segoe UI', sans-serif;
    color: #B97836;
    background-color: #1A1A1A;
    border-radius: 20px;
    border: 1px #B97836 solid;
    padding: 8px 14px;
    margin: 10px auto;
    cursor: pointer;
}

.box5 input:hover {
    /* opacity: 0.75; */
    background-color:#B97836;
    color: #ffffff;
    transition: 250ms;
}

.box5 h6 {
    color: #ffffff;
    /* padding-right: 20px; */
    margin: 5px auto;
}

/* ##################footer##################### */

footer {
    position: relative;
    bottom: 0;
    background-color: #1A1A1A;
    text-align: center;
    height: 30px;
    width: 100%;
}

.copyright-small {
    font-size: 0.9em;
    text-align: center;
}

/* #################################### Scrollbar ################################### */

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: #252627;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
    border-radius: 20px;
}

/* ##################footer##################### */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* ################## Media Queries ##################### */

@media only screen and (max-width:1112px) {}

@media only screen and (max-width:1040px) {
    .content-wrapper {
        display: block;
        max-width: 760px;
        margin: 10px auto;
    }
    .content-wrapper>div {
        margin: 50px auto;
    }
    .box3 form {
        /* width: 150%; */
        /* width: clamp(20%, 600px, 90%); */
    }
    .box3 input {
        /* width: clamp(20%, 600px,80%); */
        width: 500px;
    }
    .box4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.2em;
        padding-left: 50px;
    }
    .box4 h2 {
        grid-column: 1/3;
    }
    footer {
        position: relative;
        bottom: 0;
        background-color: #1A1A1A;
        text-align: center;
        height: 30px;
        width: 100%;
    }
    .copyright-small {
        font-size: 0.9em;
        text-align: center;
    }
}

@media only screen and (max-width:540px) {
    .box1 {
        /* change to one column */
    }
    .order-info-box {
        display: grid;
        grid-template-rows: auto auto auto;
        padding: 1.3em auto;
    }
    .box2 {
        /* margin: 20px auto; */
    }
    .box3 input {
        width: 300px;
    }
    .box4 {
        display: block;
        /* padding-right: 85px; */
        padding: 0 85px 0 40px;
    }
}