@charset "utf-8";
.nav {
    padding: 30px;
}

.nav a {
    font-size: 24px;
    color: white;
}

.nav a:hover, .nav a:active {
    color: #252627;
}

.nav span {
    font-weight: 900;
    margin: 10px;
    padding: 5px;
    font-size: 35px;
    border: 2px solid;
    background-color: #777674;
}

/*==========Cart Section===========*/

.container {
    max-width: 1200px;
    margin: auto;
}

.cart-title {
    color: #fff;
    font-size: 50px;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 20px;
}

.cartdisp img {
    width: 70px;
}

.cartdisp {
    margin: auto;
    align-items: center;
    text-align: center;
}

.displayItem {
    margin-left: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 24px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.item {
    width: 100px;
    margin: 10px;
}

.names {
    width: 300px;
    margin: 10px;
}

.prices {
    width: 100px;
    margin: 10px;
}

.quantity {
    width: 130px;
    margin: 10px;
}

.total {
    width: 100px;
    margin: 10px;
}

.cartlist {
    max-width: 1140px;
    display: flex;
    text-transform: capitalize;
    margin: auto;
}

.forImage {
    width: 100px;
    margin: 10px;
    text-align: center;
    margin-left: 80px;
}

.forName {
    width: 300px;
    margin: 10px;
    color: #fff;
    text-align: left;
}

.forPrice {
    width: 100px;
    margin: 10px;
    color: #fff;
}

.forQuantity {
    width: 130px;
    margin: 10px;
    color: #fff;
}

.forQuantity input {
    width: 100px;
    margin: 10px;
    color: #fff;
}

.increse {
    width: 100px;
}

.forTotal {
    width: 100px;
    margin: 10px;
    color: #fff;
}

.removeItem button {
    cursor: pointer;
    padding: 10px;
    background-color: #EB5757;
    color: #fff;
    border-radius: 5px;
}

.totalPriceCart {
    display: flex;
    justify-content: space-around;
    margin: 40px auto 80px auto;
    width: 400px;
    border: 2px solid;
    border-color: #B97836;
    background-color: black;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.subtotal {
    margin: 15px;
    font-weight: 700;
    font-size: 20px;
}

.priceView {
    margin: 10px;
}

.checkout {
    font-size: 25px;
    margin: 40px auto 80px auto;
    color: #B97836;
    background-color: black;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    width: 300px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 10px;
}

.checkout a {
    text-decoration: none;
    color: #B97836;
}

.checkout:hover {
    background-color: rgb(78, 78, 78);
}

.BackOrderMenu a {
    display: block;
    border: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.BackOrderMenu a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:940px) {
    .displayItem {
        width: 640px;
        margin: auto;
        max-width: fit-content;
    }
    .forImage {
        margin-left: 55px;
    }
}