@charset "utf-8";
.navbar-cart {
    padding: 30px;
}

.navbar-cart a {
    font-size: 24px;
    color: white;
}

.navbar-cart a:hover, .navbar-cart a:active {
    color: #252627;
}

.navbar-cart span {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 50%;
    background-color: red;
}

/*==========Cart Section===========*/

.container {
    max-width: 1200px;
    margin: 65px auto;
}

.cart-title {
    color: #fff;
    font-size: 50px;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 20px;
}

.cartdisp img {
    width: 70px;
    border-radius: 15px;
}

.cartdisp {
    margin: auto;
    align-items: center;
    text-align: center;
}

.displayItem {
    margin-left: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    /* text-transform: uppercase; */
    color: #fff;
    font-size: 12px;
    /* width: 100%; */
}

.column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 24px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.item {
    width: 10%;
    margin: 10px;
}

.names {
    width: 30%;
    margin: 10px;
}

.prices {
    width: 10%;
    margin: 10px;
}

.quantity {
    width: 13%;
    margin: 10px;
}

.total {
    width: 10%;
    margin: 10px;
}

.remove {
    width: 69.64px;
    margin: 0;
    border: none;
}

.cartlist {
    /* max-width: 1140px; */
    display: flex;
    text-transform: capitalize;
    margin-left: 100px;
}

.forImage {
    width: 10%;
    margin: 10px;
    text-align: center;
    /* margin-left: 80px; */
}

.forName {
    width: 30%;
    margin: 10px;
    color: #fff;
    text-align: left;
}

.forPrice {
    width: 10%;
    margin: 10px;
    color: #fff;
}

.forQuantity {
    width: 13%;
    margin: 10px;
    color: #fff;
}

.forQuantity input {
    width: 10%;
    margin: 10px;
    color: #fff;
}

.increse {
    width: 100px;
}

.forTotal {
    width: 10%;
    margin: 10px;
    color: #fff;
}

.removeItem button {
    cursor: pointer;
    padding: 10px;
    background-color: #EB5757;
    border: none;
    color: #fff;
    border-radius: 20px;
}

.totalPriceCart {
    display: flex;
    justify-content: space-around;
    margin: 40px auto 80px auto;
    width: 400px;
    border: 1px solid #B97836;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.subtotal {
    margin: 15px;
    font-weight: 700;
    font-size: 20px;
}

.priceView {
    margin: 10px;
}

.checkout {
    margin: 40px auto 20px auto;
    color: #B97836;
    width: 300px;
    text-align: center;
}

.checkout a {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    background-color: black;
    border: 1px solid #B97836;
    text-decoration: none;
    color: #B97836;
}

.checkout a:hover {
    background-color: #B97836;
    color: #fff;
    transition: 250ms;
}

.BackOrderMenu a {
    display: block;
    border: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.BackOrderMenu a:hover {
    color: #B97836;
    transition: 250ms;
}

/* @media only screen and (max-width:940px) {
    .displayItem {
        width: 640px;
        margin: auto;
        max-width: fit-content;
    }
    .forImage {
        margin-left: 55px;
    }
} */

@media(max-width: 500px) {
    body {
        font-size: 12px;
    }
    .cart-title {
        font-size: 25px;
    }
    .displayItem {
        max-width: 400px;
        margin: auto;
        max-width: fit-content;
    }
    .item {
        width: 10%;
        margin: 10px;
    }
    .names {
        width: 15%;
        margin: 10px;
    }
    .prices {
        width: 15%;
        margin: 10px;
    }
    .quantity {
        width: 10%;
        margin: 5px;
    }
    .total {
        width: 10%;
        margin: 8px;
    }
    .remove {
        width: 69.64px;
        margin: 0;
        border: none;
    }
    .cartlist {
        display: flex;
        text-transform: capitalize;
        margin-left: 0;
    }
    .cartdisp img {
        width: 50px;
        border-radius: 15px;
    }
    .removeItem button {
        width: 70px;
        cursor: pointer;
        padding: 10px;
        background-color: #EB5757;
        border: none;
        color: #fff;
        border-radius: 20px;
    }
    .totalPriceCart {
        display: flex;
        justify-content: space-around;
        margin: 40px auto 80px auto;
        width: 300px;
        border: 1px solid #B97836;
        border-radius: 20px;
        background-color: black;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }
    .priceView {
        padding: 10px;
    }
}