.contactUs-container {
    max-width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.contactUs-left {
    width: 65%;
    margin: 20px;
}

h2 {
    color: white;
    padding-bottom: 30px;
    font-size: 35px;
}

.contactUs-left h3 {
    color: #B97836;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.contactUs-form label {
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.contactUs-form input[type=text], .contactUs-form input[type=email], .contactUs-form input[type=tel] {
    border-radius: 6px;
    border: 1px #B97836 solid;
    width: 50%;
    height: 30px;
    background-color: #1A1A1A;
    margin: 10px 0px;
    padding: 10px;
    font-size: 0.9em;
    color: #ffffff;
    text-align: unset;
}

.details::after {
    content: "*";
    color: red;
}

#subject {
    width: 90%;
}

.contactUs-message textarea {
    border-radius: 10px;
    border: 1px #B97836 solid;
    background-color: #1A1A1A;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1.1em;
    color: #ffffff;
    text-align: unset;
    resize: none;
    width: 90%;
    font-family: 'Segoe UI', sans-serif;
}

.submit-contactUs input {
    border: none;
    background-color: #1A1A1A;
    font-size: 1.2em;
    color: #B97836;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #B97836;
}

.submit-contactUs input:hover, .submit-contactUs input:active {
    background-color: #B97836;
    color: white;
    transition: 250ms;
}

.contactUs-form input::placeholder {
    color: #8b8888;
}

.contactUs-message textarea::placeholder {
    color: #8b8888;
    font-family: 'Segoe UI', sans-serif;
}

.contactUs-form div {
    padding: 10px 0;
}

.contactUs-right {
    width: 40%;
    height: 550px;
    background-color: #1A1A1A;
    padding: 50px;
    padding-bottom: 100px;
    margin-top: 170px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

.contactUs-right div {
    padding: 25px 0;
}

.contactUs-right h3 {
    color: #B97836;
    font-size: 1.5em;
    padding: 10px 0 20px 0;
}

.contactUs-right i {
    font-size: 1.4em;
    color: #B97836;
    text-shadow: 3px 3px 5px black;
    padding-right: 20px;
    padding-bottom: 20px;
}

.contactUs-right a, .contactUs-right span {
    color: white;
    text-decoration: none;
    font-size: 0.95em;
}

.contactUs-right p {
    color: white;
    padding-left: 40px;
    line-height: 2em;
    font-size: 0.8em;
}

/* #################################### Media Query ################################### */

@media only screen and (max-width:1220px) {
    .bannercaption h1 {
        font-size: 130px;
    }
}

@media only screen and (max-width:1200px) {
    .contactUs-container {
        flex-flow: column;
        align-items: center;
    }
    .contactUs-right {
        width: 95%;
        height: 275px;
        display: flex;
        flex-flow: row;
        margin: auto;
    }
    .contactUs-right div {
        display: flex;
        flex-flow: row;
        padding: 0 15px;
    }
    .sb-details div {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .location p {
        padding-top: 15px;
        padding-left: 0;
    }
}

@media only screen and (max-width:1060px) {
    .bannerCaption h1 {
        font-size: 90px;
    }
}

@media only screen and (max-width:768px) {
    .contactUs-form input[type=text], .contactUs-form input[type=email], .contactUs-form input[type=tel] {
        width: 90%;
    }
    .contactUs-message textarea {
        width: 95%;
    }
    .contactUs-right div {
        display: flex;
        flex-flow: column;
        padding: 0 20px;
    }
    .sb-details div {
        display: flex;
        flex-flow: row;
        width: 100%;
        padding: 20px 0;
        align-items: initial;
    }
    .contactUs-right {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .contactUs-right {
        height: 470px;
    }
}