@charset "utf-8";

.mainh1 {
    padding: 10px;
    font-size: 2.5em;
    text-align: center;
    color:rgb(255, 255, 255);
}

main a {
    color: aliceblue;
    text-decoration: none;
}

main a:hover,
main a:visited  {
    color: #B97836;
}

#goTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 99;
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #B97836;
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 50%;
}

#goTopBtn:hover {
    background-color: aliceblue;
    color: #B97836;
    border-radius: 50%;
}

/* Intro Video */
.introVideo {
    text-align: center; 
    padding: 20px; 
    background-color: hsl(15, 0%, 0%);
}

@media only screen and (max-width:653px) {
    div > video {
        width: 100%;
    }
}
/* Intro Video Ends */

/* About Us Starts */
article.maincontent1 {
    padding: 15px;
    text-align: justify; 
    margin-left: 15%; 
    margin-right: 15%;
}
/* About Us Ends */

#whoarewecontent {
    color: #B97836;
    padding: 20px;
    background-color: 	hsl(15, 0%, 0%);
}

/* Recommendations Image Map Starts */
article.maincontent2 {
    padding: 15px;
    text-align: center;  
    background-color: 	hsl(15, 0%, 0%);
}
/* Recommendaitons Image Map Ends */

/* Promotions Starts */
article.maincontent3 {
    padding-top: 15px;
}

.carousel-container {
    width: 700px;
    height: 400px;
    margin: auto;
    border: 0.5px solid #B97836;
    overflow: hidden;
    position: relative;
    min-width: 700px;
}

.carousel-slide {
    display: flex;
    width: 700px;
    height: 400px;
}

.carousel-slide img{
    width: 700px;
    height: 400px;
}

#prevBtn {
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 5%;
    font-size: 35px;
    color: aliceblue;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 45%;
    z-index: 10;
    right: 5%;
    font-size: 35px;
    color: aliceblue;
    cursor: pointer;
}

.carousel-container #prevBtn, 
.carousel-container #nextBtn {
  opacity: 0.2;
  transition: opacity .3s;
}

.carousel-container:hover #prevBtn,
.carousel-container:hover #nextBtn {
  opacity: 1;
}

/* Screen size less than 705px slider do not display */
@media only screen and (max-width: 705px) {
    article.maincontent3 {
        display: none;
    }
}
/* Promotions Ends */

/*Events Starts */
article.maincontent4 {
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px;
    text-align: center;
}

.eventsHeader {
    background-color:  #B97836;
    animation-name: eventsHeaderAni;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes eventsHeaderAni {
    0%   {background-color:hsl(15, 0%, 0%);text-shadow: 2px 2px #B97836;}
    25%  {background-color:#B97836; text-shadow: 2px 2px hsl(15, 0%, 0%);}
    50%  {background-color:hsl(15, 0%, 0%);text-shadow: 2px 2px #B97836;}
    75%  {background-color:#B97836; text-shadow: 2px 2px hsl(15, 0%, 0%);}
    100% {background-color:hsl(15, 0%, 0%);text-shadow: 2px 2px #B97836;}
  }

.eventsBox {
    text-align: center;
}

.eventsDesc {
    height: 160px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: Justify;
    color: #B97836;
    background-color: hsl(15, 0%, 0%);
    overflow: auto;
}

h2 {
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.eventsImg {
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.eventsImg img{
    width: 100%;
    display: block;
    transition: transform .4s ease-in-out;
}

.eventsImg:hover img{
    transform: scale(1.2);
}

@media only screen and (min-width: 1000px){
    .eventsBox{
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .eventsContents{
        flex: 0 0 calc(50% - 20px);
        -webkit-flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
/*Events Ends*/

/* Reviews Starts */

.maincontent5 {
    margin: auto;
    padding: 15px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../Media/Banner/Backgroundimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maincontent5 div {
    width: 60%;
    height: 300px;
    margin: auto;
    position: relative;
    font-size: 15px;
    color: aliceblue;
}

.maincontent5 img {
    position: relative;
    height: 80px;
    padding: 5px;
    right: 100px;
    top: 35%;
    border-radius: 50%;
    animation: reviewAni 3.5s;
    animation-timing-function: linear;
    transition: transform .4s ease-in-out;
}

.maincontent5 img:hover {
    transform: scale(1.2);
}

.maincontent5 span {
    position: relative;
    right: 100px;
    top: 35%;
    padding: 5px;
    animation: reviewAni 3.5s;
    animation-timing-function: linear;
}

.maincontent5 p {
    height: 160px;
    position: relative;
    width: 160px;
    right: -50%;
    top: -10%;
    animation: reviewAni2 3.5s;
    animation-timing-function: linear;
    z-index: 1;
}

.maincontent5 a:hover {
    text-decoration: none;
    color: aliceblue;
    opacity: 0.8;
}

#FelixComment {
    background-color: black;
    height: 160px;
    position: relative;
    width: 160px;
    top: -10%;
    right: -50%;
    border: 0.2px #B97836 solid;
    border-radius: 15px;
    animation: reviewAni2 3.5s;
    animation-timing-function: linear;
    z-index: 0;
}

@keyframes  reviewAni {
    0%  { right: -70%; top: 35%; opacity: 0.1;}
    10% { right: -60%; top: 35%;opacity: 0.2;}
    20% { right: -50%; top: 35%;opacity: 0.3;}
    30% { right: -40%; top: 35%;opacity: 0.4;}
    40% { right: -30%; top: 35%;opacity: 0.5;}
    50% { right: -20%; top: 35%;opacity: 0.6;}
    60% { right: -10%; top: 35%;opacity: 0.7;}
    70% { right: 0%; top: 35%;opacity: 0.8;}
    80% { right: 80px; top: 35%;opacity: 0.9;}
    90% { right: 100px; top: 35%;opacity: 1;}
    100% { right: 100px; top: 35%;opacity: 1;}
}

@keyframes reviewAni2 {
    0% { right: 30%; top: -10%; opacity: 0.1;}
    10% { right: 20%; top: -10%;opacity: 0.2;}
    20% { right: 10%; top: -10%;opacity: 0.3;}
    30% { right: 0%; top: -10%;opacity: 0.4;}
    40% { right: -10%; top: -10%;opacity: 0.5;}
    50% { right: -20%; top: -10%;opacity: 0.6;}
    60% { right: -30%; top: -10%;opacity: 0.7;}
    70% { right: -40%; top: -10%;opacity: 0.8;}
    80% { right: -45%; top: -10%;opacity: 0.9;}
    90% { right: -50%; top: -10%;opacity: 1;}
    100% { right: -50%; top: -10%;opacity: 1;}
}