@charset "utf-8";

html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../Media/Banner/Backgroundimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #companylogo {
        transition: transform .5s ease;
    }
    
    #companylogo:hover {
        transform: scale(1.2);
    }

    div.loginRow {
        margin: 0 auto;
        padding: 10px;
        margin-top: 5%;
    }

    .logInput {
        border-radius: 6px;
        border: 1px #B97836 solid;
        background-color: #1A1A1A;
        margin: 10px 0px;
        padding: 10px;
    }

    fieldset {
        width: 35%;
        height: 50%;
        padding: 5px;
        margin: auto;
        margin-bottom: 100px;
        margin-top: 100px;
        border: #B97836 2px solid;
        border-radius: 10px;
    }

    form {
        text-align: center;
        color: aliceblue;
    }

    legend {
        text-align: center;
        font-weight: bold;
        font-family: 'Amsterdam Variation_2', 'Segoe UI', Verdana, sans-serif;
        color: #B97836;
        font-size: 4em;
    }

    input {
        text-align: center;
        outline: none;
    }

    div.forgotPass a {
        text-align: center;
        padding-top: 10px;
        color: aliceblue;
    }

    div.logPass {
        float: right;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: aliceblue;
    }

    input[type=submit] {
        padding: 10px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        color: #B97836;
        background-color: #1A1A1A;
        border: 1px #B97836 solid;
        border-radius: 6px;
    }

    input:focus {
        border: 2px solid #B97836;
    }

    div.logSubmit {
        clear: both;
        float: right;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    #loginButton {
        transition: transform .2s ease;
        width: 80px;
        height: 35px;
    }

    #loginButton:hover {
        text-decoration: none;
        color: #B97836;
        font-weight: bold;
        transform: scale(1.1);
        opacity: 0.75;
    }

    div.loginRow > a {
        text-decoration: none;
        text-align: center;
        color: aliceblue;
    }

    div.notMember a {
        clear: both;
        text-decoration: none;
        float: right;
        color: aliceblue;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    div.notMember a:hover,
    form a:visited {
        text-decoration: underline;
        font-weight: bold;
        color: #B97836;
        background-color: transparent;
    }

    div.loginRow > a:hover {
        text-decoration: underline;
        font-weight: bold;
        color: #B97836;
        background-color: transparent;
    }

    @media only screen and (max-width:767px) {
        div.forgotp,
        div.logPass,
        input[type=submit],
        div.logSubmit,
        div.notMember a {
            text-align: center;
            float: none;
            margin: 0 auto;
        }
     
    }

    @media (max-width: 1000px) {
        fieldset {
            width: 350px
        }
    }

    @media (max-width: 375px) {
        fieldset {
            width: 90%;
        }
    }
