@charset "utf-8";

@font-face{
    font-family: Amsterdam Variation_2;
    src:
        url('Fonts/Amsterdam\ Variation_2.ttf') format(truetype);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color:#252627;
    scroll-behavior: smooth;
    font-family:'Segoe UI',Verdana, sans-serif;
}



/* #################################### Nav Bar ################################### */
.navbar-fixedtop{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background-color: #B97836;
    font-family: Verdana, sans-serif;
    position:relative;
}

.navbar-logo,
.navbar-login{
    padding: 30px;
}


.navbar-links{
    display:flex;
    justify-content: space-around;
    width:800px;
}

.navbar-links li{
    list-style-type: none;
}

.navbar-links a{
    color:white;
    text-decoration:none;
    font-size:0.9em;
}

.navbar-links a:visited,
.navbar-links a:link{
    color:white;
}

.navbar-links a:hover,
.navbar-links a:active{
    padding-bottom: 0.5em;
    border-bottom: 3px solid white;
}

#order a{
    background-color: #ffffff;
    color: #B97836;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    vertical-align:middle;
}

#order a:hover,
#order a:active{
    background-color:#252627;
    color:white;
    border-radius: 20px;
    border-bottom:0;
}


label.navbar-mobileNav{
    font-size: 24px;
    color:white;
    cursor:pointer;
    display:none;
}

#checkbox{
    display:none;
}



.navbar-login a{
    font-size:24px;
    color: white;
}

.navbar-login a:hover,
.navbar-login a:active{
    color:#252627;
}



/* ###################################### Banner ##################################### */
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Space-Buns-Web-Assignment/Media/burgerbanner.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bannerCaption{
    font-family: 'Amsterdam Variation_2', serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}




/* #################################### Content ################################### */









/* #################################### Footer ################################### */
footer.footer{
    background-color: #1A1A1A;
    padding:20px 0;
    font-family:Verdana, sans-serif;
    width:100%;
    position: absolute;
    bottom: 0;
}

.footer-container{
    /* background-color: red; */
    max-width: 1170px;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ourStore,
.followUs{
    margin: 0 70px;
}

.footer-links{
    list-style-type: none;
    font-size:0.9em;
    column-count: 2;
    column-gap: 80px;
}

.footer-links li{
    padding: 8px 0;
}

.footer-right{
    display:flex;
    width:20%;
    margin: 40px;
    justify-content: space-around;
}

.footer-left{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ourStore a{
    color:white;
    text-decoration:none;
}

.ourStore a:hover,
.ourStore a:active{
    color:#B97836;
}

.footer h4{
    color:#B97836;
    padding-bottom:25px;
    font-weight:bold;
    font-size:1.2em
}

.footer-socialLinks a{
    display: inline-block;
    height:40px;
    width:40px;
    margin: 0 25px 10px 0;
    font-size:20px;
    color:white;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding:10px;
    border-radius: 50%;
}

.footer-socialLinks a:hover,
.footer-socialLinks a:active{
    color:#1A1A1A;
    background-color: rgba(255, 255, 255, 0.7);;
}

.copyright{
    margin-top: 20px;
    color: white;
    font-size: 0.9em;
    text-align:center;
}

.copyright-small{
    color: white;
    font-size: 0.9em;
    text-align:center;
}




/* #################################### Media Query ################################### */
@media only screen and (max-width:1170px){
    .footer-right{
        display:flex;
        width:100%;
        margin: 10px;
        justify-content: space-around;
    }

    .footer-left{
        width:100%;
        display:flex;
        justify-content: space-around;
    }

}

@media only screen and (max-width:940px){
    .navbar-links a{
        font-size:0.75em;
        transition: 0.3s ease-in-out;
    }


    .footer-left{
        width:100%;
        display:block;
        align-items: center;
   }

   .footer-links{
    column-gap: 30px;
    padding-left:18%;
}

    .followUs{
        margin-top: 40px;
    }

    .footer h4,
    .footer-socialLinks{
        text-align:center;
    }
}
@media only screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .navbar-links{
        position:fixed;
        height:100vh;
        top:65px;
        z-index:1; /*sit on top*/
        background-color:black;
        opacity:0.9;
        display:block;
        text-align: center;
        line-height: 10vh;
        width:100%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        overflow-y: visible;
    }


    .navbar-logo,
    .navbar-login{
        padding:0;
    }


    .navbar-links a{
        font-size:0.9em;
    }

    
    .navbar-links a:hover,
    .navbar-links a:active{
        color:#B97836;
    }

    #order a{
        background-color: white;
        color:black;
    }

    #order a:hover,
    #order a:active{
        color:#B97836;
        background-color: black;
    }

    label.navbar-mobileNav{
        display:block;
    }



    #checkbox:checked ~ ul{
        transform: translateX(0%);
    }

    
}

