@charset "utf-8";
.navbar-cart {
    padding: 30px;
}

.navbar-cart a {
    font-size: 24px;
    color: white;
}

.navbar-cart a:hover, .navbar-cart a:active {
    color: #252627;
}

.navbar-cart span {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 50%;
    background-color: red;
}

/*order menu*/

.orderMenu-container {
    margin: 65px auto;
    width: 1200px;
}

.container {
    margin: auto;
    display: flex;
    width: 1200px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-header {
    font-family: 'Segoe UI';
    font-weight: bolder;
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    width: 1200px;
    padding: 20px;
}

.image img {
    height: 250px;
    border: none;
    border-radius: 15px;
}

.name {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #fff;
}

.price {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.details {
    max-width: fit-content;
    text-align: center;
    color: rgb(177, 172, 172);
}

.btn button {
    width: 100px;
    height: 30px;
    border: 1px solid #B97836;
    border-radius: 20px;
    background-color: #1A1A1A;
    color: #B97836;
    font-weight: bold;
    margin-top: 15px;
}

.btn button:hover {
    background-color: #B97836;
    color: #fff;
    transition: 250ms;
}

.productItem {
    margin: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width:940px) {
    .container {
        width: 700px;
        margin: auto;
        max-width: fit-content;
    }
}