@charset "utf-8";
.nav {
    padding: 30px;
}

.nav a {
    font-size: 24px;
    color: white;
}

.nav a:hover, .nav a:active {
    color: #252627;
}

.nav span {
    font-weight: 900;
    margin: 10px;
    padding: 5px;
    font-size: 35px;
    border: 2px solid;
    background-color: #777674;
}

/*order menu*/

.container {
    margin: auto;
    display: flex;
    width: 1200px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-header {
    font-family: 'Segoe UI';
    font-weight: bolder;
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    width: 1200px;
    padding: 20px;
}

.image img {
    height: 250px;
    border: none;
    border-radius: 15px;
}

.name {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #fff;
}

.price {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.details {
    max-width: fit-content;
    text-align: center;
    color: rgb(177, 172, 172);
}

.btn button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: #B97836;
    color: #fff;
    font-weight: bold;
}

.btn button:hover {
    background-color: black;
}

.btn {
    width: 100px;
    height: 30px;
    margin-left: 70px;
    margin-top: 15px;
}

.productItem {
    margin: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width:940px) {
    .container {
        width: 700px;
        margin: auto;
        max-width: fit-content;
    }
}