section.privacy_content {
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: #B97836;
    padding: 30px;
}

.privacy_container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: white;
    padding-bottom: 25px;
    font-size: 30px;
}

h3 {
    color: grey;
    padding-bottom: 5px;
    font-size: 25px;
}

ul li::marker {
    color: grey;
}