@charset "utf-8";


html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../Media/Banner/Burgerbanner2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    div.signupRow {
        margin: 0 auto;
        padding: 10px;
        margin-top: 5%;
    }

    fieldset {
        width: 35%;
        height: 50%;
        padding: 5px;
        margin: auto;
        margin-bottom: 100px;
        margin-top: 100px;
        border: #B97836 2px solid;
    }

    form {
        text-align: center;
        color: blanchedalmond;
    }

    form a {
        color: aliceblue;
    }
    
    form a:hover {
       font-weight: bold;
       color: #B97836;
       background-color: transparent;
    }

    form a:visited {
        color: slategray;
    }
    
    legend {
        text-align: center;
        font-weight: bold;
        font-family: 'Amsterdam Variation_2', 'Segoe UI', Verdana, sans-serif;
        color: #B97836;
        font-size: 4em;
    }

    input {
        text-align: center;
    }

    #signupPrivacy {
        margin: 0 auto;
        padding: 10px;
        margin-top: 5%;
    }

    input[type=submit] {
        background-color: white;
        border: none;
        color: #B97836;
        padding: 10px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    #signupButton:hover {
        text-decoration: underline;
        font-weight: bold;
        border: #B97836 3px solid;
    }