@charset "utf-8";


html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../Media/Banner/Backgroundimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #companylogo {
        transition: transform .5s ease;
    }
    
    #companylogo:hover {
        transform: scale(1.2);
    }

    div.signupRow {
        margin: 0 auto;
        padding: 10px;
        margin-top: 5%;
    }

    fieldset {
        width: 35%;
        height: 50%;
        padding: 5px;
        margin: auto;
        margin-bottom: 100px;
        margin-top: 100px;
        border: #B97836 2px solid;
        border-radius: 10px;
    }

    form {
        text-align: center;
        color: aliceblue;
    }

    form a {
        color: aliceblue;
    }
    
    form a:hover,
    form a:visited {
       font-weight: bold;
       color: #B97836;
       background-color: transparent;
    }
    
    legend {
        text-align: center;
        font-weight: bold;
        font-family: 'Amsterdam Variation_2', 'Segoe UI', Verdana, sans-serif;
        color: #B97836;
        font-size: 4em;
    }

    input {
        text-align: center;
        outline: none;
    }

    #signupPrivacy {
        margin: 0 auto;
        padding: 10px;
        margin-top: 5%;
    }

    input[type=text]:focus, 
    input[type=password]:focus,
    input[type=tel]:focus,
    input[type=email]:focus {
        border: 2px solid #B97836;
    }
    
    input[type=submit] {
        padding: 10px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        color: #B97836;
        background-color: #1A1A1A;
        border: 1px #B97836 solid;
        border-radius: 6px;
    }

    .signupRow input {
        border-radius: 6px;
        border: 1px #B97836 solid;
        background-color: #1A1A1A;
        margin: 10px 0px;
        padding: 10px;
    }

    .requiredInput::after {
        content: "*";
        color: red;
    }

    .privacyNeeds::before {
        content: "*";
        color: red;
    }

    #signupButton {
        transition: transform .2s ease;
        width: 80px;
        height: 35px;
    }

    #signupButton:hover {
        text-decoration: underline;
        font-weight: bold;
        transform: scale(1.1);
        text-decoration: none;
        color: #B97836;
        opacity: 0.75;
    }