@charset "utf-8";

html{
    background-color: #252627;
    height:100%;
}

header{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;
}


div.navbar-collapse {
    padding:0;
    margin: 0 10% 0 10%;
    display:flex;
    flex-direction: row;
}

ul{
    list-style-type:none;
}


li{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

nav a{
    width: 100px; 
    padding: 20px 5px;
    font-family: Verdana, Cambria, serif;
    text-decoration: none;
    font-weight: 10px;
    font-size: 13px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #252627;
}

.login{
    font-size: 14px;
    background-color:#B97836;
    border-radius: 20px;
    padding: 10px 20px 10px 20px ;
    margin-right: 20px;
}

.logo{
    display: inline;
    margin-top: 10px;
    vertical-align: middle;
    overflow: hidden;
 }

.fixedtop{
    position: fixed;
    right:0;
    left: 0;
    z-index: 1030;
}

.navbar-collapse a:link,
.navbar-collapse a:visited{
    color: white;
}

.navbar-collapse a:hover,
.navbar-collapse a:active{
    color:white;
    border-bottom: 5px solid white;
}

div#navbar{
    padding:0;
    border:0;
    line-height: 1;
    font-weight:400;
    top:10px;
    right: 10px;
    margin:0;
}



/* Footer layout */
footer{
    background-color: #1A1A1A;
    padding: 10px 40px;
    padding: 50px 50px 20px 50px;
    font-family: Verdana, sans-serif;
}

footer div.footer{
    display:flex;
    flex-direction: row;
}

div#footerlogo{
    display: inline;
    margin: 50px 40px;
    padding-top:25px;
    vertical-align: middle;
    overflow: hidden;
}

footer div.ourStore{
    width: 30%;
    margin: 0;
    vertical-align: middle;
}

footer div.legal{
    width:20%;
}

footer h2{
    color:#B97836;
    font-size:18px;
    margin-top:0;
    margin-left: 56px;
}


footer a{
    color:white;
    text-decoration: none;
    font-size: 13px;
}

footer li a:hover {
    opacity: 0.5;
 }


.ourStore ul{
    display:inline-block;
    column-count: 2;
}

 .legal ul,
 .followUs ul{
    padding-top: 15px;
}


 .ourStore li,
 .legal li{
     flex: 0 0 50%;
     position: relative;
     margin-bottom: 18px;
     padding-right: 10px;
     flex-direction:column;
 }

 footer div.copyright{
     color: white;
     display: inline-flex;
     font-size:11px;
     padding-top: 50px; 
     padding-left: 56px;
 }



/* Desktop Display */
@media only screen and (min-width: 1280px){
    nav > div#navbar, div.navbar-collapse .loginnav{
        display: none;
    }


    div.navbar-collapse{
        display:flex;
    }

}


/* Mobile display */
@media only screen and (max-width: 1280px){
    div.navbar-collapse ul{
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        flex-direction: column;
        text-align:center;
    }
    div.login{
        display:none;
    }




}