@charset "utf-8";
:root {
    --gold: hsl(30, 55%, 47%);
}

html {
    color: white;
}

.container {
    /* background-color: rgb(36, 68, 109); */
    /* height: 100vh; */
    max-width: 1200px;
    text-align: center;
    margin: auto;
    min-height: 80vh;
}

/* ############### Order Options Styles ############### */

/* #order {
    display: none;
} */

.order-options {
    /* background-color: green; */
}

.options-block {
    background-color: #1A1A1A;
    margin: 30px auto;
    /* padding: 100px; */
    /* width: 575px; */
    width: clamp(20%, 530px, 80%);
    border-radius: 18px;
}

h1 {
    font-size: 2em;
    /* margin-bottom: 10px; */
}

.options-block h1 {
    padding-top: 28px;
}

/* ############### Button Styles ############### */

button, #delivery-button, .order-now {
    all: unset;
    cursor: pointer;
    background-color: #000;
    /* background-color: #252627; */
    border: 1px var(--gold) solid;
    color: var(--gold);
    font-weight: bold;
    border-radius: 9px;
    font-size: 1.3em;
    /* color: #fff; */
    /* width: 100px;    */
    border-radius: 30px;
}

button:hover, button:active {
    /* opacity: 0.6; */
    /* transition: 0.1s; */
}

#delivery-button {
    /* margin: 5px auto 50px; */
    background-color: #000;
    color: var(--gold);
    /* width: unset; */
    cursor: pointer;
    /* width: 150px; */
    /* border: 10px var(--gold) solid; */
}

input[type=submit] {
    /* width: 200px; */
}

/* input[type=time] {
    border: none;
    color: #2a2c2d;
    font-size: 1em;
    font-family: helvetica;
    width: 180px;
} */

button[disabled] {
    opacity: 0.5;
}

.options-block button, .confirm {
    padding: 8px 20px;
    margin: 35px 70px;
}

section>h1 {
    /* color: red; */
    padding-bottom: 25px;
}

/* ############### Delivery Section Styles ############### */

#delivery-section {
    display: none;
}

#delivery-map, #pickup-map {
    border-radius: 20px;
    height: 500px;
    color: #000000;
}

#delivery-map {
    width: 80%;
    margin: 0 15px;
}

#pickup-map {
    width: 65%;
    margin: 10px auto 40px;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#delivery-map #infowindow-content {
    display: inline;
}

#pac-container {
    display: flex;
}

.delivery-form {
    margin: 0 0 0 15px;
}

button.gm-ui-hover-effect {
    visibility: hidden;
}

label {
    float: left;
    /* margin: 15px auto 10px; */
    margin-bottom: 10px;
}

.delivery-form textarea, .delivery-form input {
    width: 100%;
    /* height: 50px; */
    background-color: #1A1A1A;
    color: #ffffff;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 0.9em;
    border: 1px var(--gold) solid;
    border-radius: 6px;
    margin: 10px auto 0;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
}

textarea:hover {
    /* background-color: transparent; */
}

.required-field::after {
    content: "*";
    color: red;
}

input::placeholder {
    color: #8b8888;
    padding: 10px auto 50px;
}

/* ############### Pickup Section Styles ############### */

#pickup-section {
    display: none;
}

#branch-content img {
    float: left;
    /* vertical-align: middle; */
}

#branch-content h3 {
    margin-bottom: 3px;
}

/* #branch-content a:link, #branch-content a:visited {
    color: var(--gold); 
    text-decoration: none;
}  */

#branch-content+button {
    border: none;
    color: var(--gold);
    background-color: #1A1A1A;
    /* border-radius: 7px; */
    border-radius: 30px;
    font-size: 1.2em;
    margin-top: 6px;
    padding: 10px 15px;
}

/* ############### Popup Styles ############### */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    overflow-y: hidden;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--gold);
    /* background-color: #1A1A1A; */
    opacity: 0.95;
    width: 450px;
    height: 420px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    /* border: 2px var(--gold) solid; */
    /* border: 1px #fff solid; */
    overflow: hidden;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    /* height: 30px; */
    /* background:#222; */
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    /* line-height: 30px; */
    text-align: center;
    /* border-radius: 50%; */
}

.popup.active .overlay {
    display: block;
    overflow-y: hidden;
}

.popup.active .content {
    transition: all 250ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/* body.popup {
    overflow-y: hidden;
} */

/* .close-btn {
    transition: all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(0);
} */

.order-now {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    /* all:unset; */
}

.order-now:hover {
    /* background-color: #fff; */
    background-color: #000;
    transition: 250ms;
}

fieldset {
    /* all: unset; */
    /* display: inline-block; */
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
}

.select-field {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selection {}

.selection label {
    /* display: grid; */
    /* align-items: center; */
    /* margin: auto 55px; */
    /* margin: 10px 70px 0px 30px; */
    /* text-align: center; */
    margin: 0 0 0 20px;
}

#select-time {
    /* width: 100px; */
}

#select-date {}

select, input#time {
    display: inline-block;
    width: 170px;
    height: 2.8em;
    font-size: 1em;
    /* background-color: #252627; */
    /* color: #fff; */
    margin: 8px 15px;
    padding: 10px;
    text-align: center;
    border: 0.5px #fff solid;
    border-radius: 5px;
}

input#time::placeholder {
    /* float: left; */
    padding-top: 5px;
    color: #000;
}

select:hover, select:active {
    border: 1px #000 solid;
}

option {
    font-weight: bold;
}

.delay-text {
    background-color: #1A1A1A;
    opacity: 0.8;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

/* ############### Media Query ############### */

@media only screen and (max-width:905px) {
    #pac-container {
        display: block;
    }
    #delivery-map {
        width: 85%;
        margin: 30px auto;
    }
    textarea, input {
        width: 90%;
    }
    /* input{
        width: 80%;
    } */
}